.App-header {
    background-color: #222;
    padding: 12px 24px 12px 24px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.App-link {
    border-bottom: 4px solid #222;

    &.active {
        border-bottom: 4px solid green;
        margin-right: 24px;
    }
}

.App-content {
    padding: 24px;
}